@import './mixins';

.bv8-debug-breakpoints:before {
  content: 'xs';
  @include screenMinProp(sm, content, 'sm');
  @include screenMinProp(md, content, 'md');
  @include screenMinProp(lg, content, 'lg');
  @include screenMinProp(xl, content, 'xl');
  @include screenMinProp(xxl, content, 'xxl');
  color: #232323;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  position: fixed;
  bottom: 8px;
  left: 8px;
  z-index: 7777777;
  padding: 8px 12px;
  text-transform: uppercase;
}
.bv8-debug-grid {
  .container,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 777777;
      pointer-events: none;
      @include bv8DebugGrid($bv8-columns-md);

      @include screenMin(md) {
        @include bv8DebugGrid($bv8-columns);
      }
    }
  }
  .container {
    @each $key in (md, lg, xl, xxl) {
      &-#{$key}:after {
        width: calc(100% - var(--bv8-gap) * 2);

        @include screenMin($key) {
          width: 100%;
        }
      }
    }
  }
}
