@import 'config';

@function bv8-breakpoint($size: null) {
  $value: map-get($bv8-breakpoints, $size);
  @return if($value != null, $value, $size);
}
@function bv8-container($key: null) {
  @return map-get($bv8-containers, $key);
}
@function bv8-column-size($key: null) {
  @return map-get($bv8-column-size, $key);
}

@mixin screenMin($size: null, $prop: width) {
  @media (#{'min-' + $prop}: bv8-breakpoint($size)) {
    @content;
  }
}

@mixin screenMinHeight($size: null) {
  @include screenMin($size, height);
}

@mixin screenMax($size: null, $prop: width) {
  @media (#{'min-' + $prop}: bv8-breakpoint($size)) {
    @content;
  }
}

@mixin screenMaxHeight($size: null) {
  @include screenMax($size, height);
}

@mixin screenBetween($min: null, $max: null, $prop: width) {
  @media (#{'min-' + $prop}: bv8-breakpoint($min)) and (#{'max-' + $prop}: bv8-breakpoint($max)) {
    @content;
  }
}

@mixin screenBetweenHeight($min: null, $max: null) {
  @include screenBetween($min, $max, height);
}

@mixin screenExact($widthProp: null null, $heightProp: null null) {
  @media (#{nth($widthProp, 1) + '-width'}: nth($widthProp, 2)) and (#{nth($heightProp, 1) + '-height'}: nth($heightProp, 2)) {
    @content;
  }
}

@mixin screenMinProp(
  $breakpoint: null,
  $prop: null,
  $value: null,
  $orientation: width
) {
  @if ($breakpoint != null and $prop != null) {
    @include screenMin($breakpoint, $orientation) {
      #{$prop}: $value;
    }
  }
}

@mixin screenMinPropHeight($breakpoint: null, $prop: null, $value: null) {
  @if ($breakpoint != null and $prop != null) {
    @include screenMin($breakpoint, height) {
      #{$prop}: $value;
    }
  }
}

@mixin screenMaxProp(
  $breakpoint: null,
  $prop: null,
  $value: null,
  $orientation: width
) {
  @if ($breakpoint != null and $prop != null) {
    @include screenMax($breakpoint, $orientation) {
      #{$prop}: $value;
    }
  }
}

@mixin screenMaxPropHeight($breakpoint: null, $prop: null, $value: null) {
  @if ($breakpoint != null and $prop != null) {
    @include screenMax($breakpoint, height) {
      #{$prop}: $value;
    }
  }
}

@mixin propertiesSetValue($properties, $value) {
  @each $property in $properties {
    #{$property}: $value;
  }
}

@mixin bv8CreateClasses(
  $classPrefix: null,
  $classSuffix: null,
  $childs: '',
  $property: null,
  $values: null,
  $important: null,
  $separator: null
) {
  // Example:
  // bv8CreateClasses(txt, null, '', txt, center left);

  @if ($important != null) {
    $important: '!important';
  }

  @if ($separator == null) {
    $separator: '-';
  }

  $suffixSeparator: null;

  @if ($classSuffix != null and $classSuffix != '') {
    $suffixSeparator: '-';
  }

  @if ($property == _content) {
    .#{$classPrefix}#{$separator}#{$classSuffix} #{$childs} {
      @content;
    }
    @each $breakpointName, $breakpointValue in $bv8-breakpoints {
      @include screenMin($breakpointName) {
        .#{$classPrefix}#{$separator}#{$breakpointName}#{$separator}#{$classSuffix}
          #{$childs} {
          @content;
        }
      }
    }
  } @else if ($classPrefix != null and $property != null and $values != null) {
    @if (type-of($values) == 'string') {
      $values: append((), $values);
    }

    @if (type-of($values) == 'map') {
      @each $name, $value in $values {
        .#{$classPrefix}#{$separator}#{$name} #{$childs} {
          @if (type-of($property) == list) {
            @include propertiesSetValue($property, $value #{$important});
          } @else {
            #{$property}: #{$value} #{$important};
          }
          @content;
        }
        @each $breakpointName, $breakpointValue in $bv8-breakpoints {
          @include screenMin($breakpointName) {
            .#{$classPrefix}#{$separator}#{$breakpointName}#{$separator}#{$classSuffix}#{$suffixSeparator}#{$name}
              #{$childs} {
              @if (type-of($property) == list) {
                @include propertiesSetValue($property, $value #{$important});
              } @else {
                #{$property}: #{$value} #{$important};
              }
              @content;
            }
          }
        }
      }
    } @else if (type-of($values) == 'list') {
      @each $value in $values {
        .#{$classPrefix}#{$separator}#{$value} {
          @if (type-of($property) == list) {
            @include propertiesSetValue($property, $value #{$important});
          } @else {
            #{$property}: #{$value} #{$important};
          }
          @content;
        }
        @each $breakpointName, $breakpointValue in $bv8-breakpoints {
          @include screenMin($breakpointName) {
            .#{$classPrefix}#{$separator}#{$breakpointName}#{$separator}#{$classSuffix}#{$suffixSeparator}#{$value}
              #{$childs} {
              @if (type-of($property) == list) {
                @include propertiesSetValue($property, $value #{$important});
              } @else {
                #{$property}: #{$value} #{$important};
              }
              @content;
            }
          }
        }
      }
    }
  } @else {
    @warn 'mixin - createBootstrapClasses: one or more arguments are null';
  }
}

@mixin bv8DebugGrid($columns: 12) {
  $gradientValue: '';

  @for $i from 1 through $columns {
    @if ($i == 1) {
      $gradientValue: '90deg,var(--bv8-debug-grid) 0%,var(--bv8-debug-grid) var(--bv8-column),transparent var(--bv8-column),transparent calc(var(--bv8-column) + var(--bv8-gap)),';
    } @else {
      $gradientValue: $gradientValue +
        'var(--bv8-debug-grid) calc(var(--bv8-column) * #{$i - 1} + var(--bv8-gap) * #{$i - 1}),var(--bv8-debug-grid) calc(var(--bv8-column) * #{$i} + var(--bv8-gap) * #{$i - 1}),transparent calc(var(--bv8-column) * #{$i} + var(--bv8-gap) * #{$i - 1}),transparent calc(var(--bv8-column) * #{$i} + var(--bv8-gap) * #{$i})' +
        if($i != $columns, ',', '');
    }
  }

  background: linear-gradient(unquote($gradientValue));
}
